/* For Nav-Bar Component */
.navbar {
  position: fixed;
  top: 0;
  left: 50px;
  right: 50px;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  padding: 5px;
  background-color: black;
}
.logo img {
  border-radius: 5px;
}
.show-nav-links {
  float: right;
}
.nav-links ul,
.show-nav-links ul {
  list-style-type: none;
  display: flex;
  gap: 50px;
  justify-content: space-around;
}
.nav-links ul a,
.show-nav-links ul a {
  color: white;
  text-decoration: none;
  font-size: 1.2em;
}
.nav-links ul a:hover,
.show-nav-links ul a:hover {
  padding-bottom: 5px;
  border-bottom: 3px solid #ffbd39;
}
.home-link {
  color: #ffbd39;
  padding-bottom: 5px;
  border-bottom: 3px solid #ffbd39;
}
.mobile-nav {
  display: none;
}
.close-mobile {
  display: none;
}

/*For Hero Section Component */
.hero {
  width: 100%;
  position: relative;
  top: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero-one,
.hero-two {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.transition-div {
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

.hidden-div {
  opacity: 0;
  pointer-events: none;
}
.left-hero,
.lefty-hero {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 40%;
}
.left-hero p,
.lefty-hero p {
  font-size: 25px;
  letter-spacing: 5px;
  color: #ffbd39;
}
.left-hero h1,
.lefty-hero h1 {
  font-size: 70px;
  letter-spacing: 5px;
  margin: 0;
}
.fred {
  color: #ffbd39;
}
.left-hero h2,
.lefty-hero h2 {
  font-size: 30px;
  letter-spacing: 5px;
}
.hire-work {
  position: relative;
  margin-top: 20px;
}
.colored-bg {
  text-decoration: none;
  color: black;
  background-color: #ffbd39;
  border-radius: 25px;
  letter-spacing: 3px;
  font-size: 17px;
  padding: 15px 25px;
  margin: 20px 20px 20px 0;
  border: none;
}
.colored-bg2 {
  text-decoration: none;
  color: white;
  background-color: black;
  border: 1px solid white;
  border-radius: 25px;
  letter-spacing: 3px;
  font-size: 17px;
  padding: 15px 25px;
  margin: 20px 20px 20px 0;
}
.right-hero,
.righty-hero {
  width: 500px;
  height: auto;
}

/* For About Me Component */
.main-about {
  display: flex;
  position: relative;
  top: 400px;
}
.about-one {
  width: 50%;
}
.about-two {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.about-bg {
  position: absolute;
  top: -30px;
  font-size: 120px;
  letter-spacing: 2px;
  opacity: 0.1;
}
.about-header {
  font-size: 70px;
  position: relative;
  left: 14px;
}
.about-two p {
  text-align: justify;
  font-size: 1.25em;
  padding: 10px 0;
  opacity: 0.6;
}
.about-table {
  font-size: 1.25em;
  text-align: left;
}
.about-table td {
  padding-right: 20px;
  padding-bottom: 20px;
}
.about-table-td {
  opacity: 0.6;
}

/* For Resume Component */
.resume {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 500px;
}
.resume-bg {
  position: absolute;
  left: 0;
  right: 0;
  top: -30px;
  font-size: 120px;
  opacity: 0.1;
  letter-spacing: 10px;
}
.resume-header {
  font-size: 70px;
}
.resume-p {
  font-size: 1.25em;
}
.resume-two {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}
.boxOne {
  width: 38%;
  height: 350px;
  margin: 10px;
  padding: 40px;
  border-radius: 10px;
  background-color: #1a1a1a;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.boxOne h1 {
  color: #ffbd39;
  padding: 0;
  margin: 0;
}
.boxOne h2 {
  padding: 0;
  margin: 10px 0;
  letter-spacing: 2px;
}
.resume-small-p {
  opacity: 0.5;
  font-size: 0.9375em;
}
.resume-p {
  opacity: 0.5;
  text-align: left;
}
.resume-three {
  margin: 30px 0;
}

/* For Services Component */
.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 600px;
}
.services-bg {
  position: absolute;
  left: 0;
  right: 0;
  top: -30px;
  font-size: 120px;
  opacity: 0.1;
  letter-spacing: 10px;
}
.services-header {
  font-size: 70px;
}
.services-p {
  font-size: 1.25em;
  opacity: 0.5;
}
.service-two {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  position: relative;
}
.services-box {
  width: 30%;
  height: 300px;
  margin: 20px;
  background-color: #1a1a1a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.services-box img {
  width: 60px;
  height: auto;
  filter: brightness(0) invert(1);
  transition: filter 0.3s;
}
.services-box p {
  padding-bottom: 10px;
  border-bottom: 2px solid #ffbd39;
}
.services-box:hover {
  background-color: #ffbd39;
  color: black;
}
.services-box:hover .child {
  border-bottom: 2px solid white;
}

/* For Skill Component */
.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 700px;
}
.skill-bg {
  position: absolute;
  left: 0;
  right: 0;
  top: -30px;
  font-size: 120px;
  opacity: 0.1;
  letter-spacing: 10px;
}
.skill-header {
  font-size: 70px;
}
.skill-p {
  font-size: 1.25em;
  opacity: 0.5;
}
.skill-two {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 40px;
  justify-content: center;
  align-items: center;
}
.skill-set {
  width: 45%;
  display: flex;
  flex-direction: column;
  font-size: 1.3em;
}
.skill-up {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.skill-down {
  display: flex;
  width: 100%;
}
.skill-yellow {
  width: 90%;
  height: 12px;
  background-color: #ffbd39;
  border-radius: 4px 0 0 4px;
}
.skill-black {
  width: 10%;
  height: 12px;
  background-color: #1a1a1a;
  border-radius: 0 4px 4px 0;
}
.skill-yellow1 {
  width: 85%;
  height: 12px;
  background-color: #ffbd39;
  border-radius: 4px 0 0 4px;
}
.skill-black1 {
  width: 15%;
  height: 12px;
  background-color: #1a1a1a;
  border-radius: 0 4px 4px 0;
}
.skill-yellow2 {
  width: 75%;
  height: 12px;
  background-color: #ffbd39;
  border-radius: 4px 0 0 4px;
}
.skill-black2 {
  width: 25%;
  height: 12px;
  background-color: #1a1a1a;
  border-radius: 0 4px 4px 0;
}
.skill-yellow3 {
  width: 70%;
  height: 12px;
  background-color: #ffbd39;
  border-radius: 4px 0 0 4px;
}
.skill-black3 {
  width: 30%;
  height: 12px;
  background-color: #1a1a1a;
  border-radius: 0 4px 4px 0;
}
.skill-yellow4 {
  width: 80%;
  height: 12px;
  background-color: #ffbd39;
  border-radius: 4px 0 0 4px;
}
.skill-black4 {
  width: 20%;
  height: 12px;
  background-color: #1a1a1a;
  border-radius: 0 4px 4px 0;
}
.skill-yellow5 {
  width: 75%;
  height: 12px;
  background-color: #ffbd39;
  border-radius: 4px 0 0 4px;
}
.skill-black5 {
  width: 25%;
  height: 12px;
  background-color: #1a1a1a;
  border-radius: 0 4px 4px 0;
}
.padding {
  padding-right: 10%;
}
.padding1 {
  padding-right: 15%;
}
.padding2 {
  padding-right: 25%;
}
.padding3 {
  padding-right: 30%;
}
.padding4 {
  padding-right: 20%;
}
.padding5 {
  padding-right: 25%;
}

/* For Project Component */
.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 800px;
}
.project-bg {
  position: absolute;
  left: 0;
  right: 0;
  top: -30px;
  font-size: 120px;
  opacity: 0.1;
  letter-spacing: 10px;
}
.project-header {
  font-size: 70px;
}
.project-p {
  position: relative;
  top: 10px;
  opacity: 0.5;
  font-size: 1.3em;
}
.project-two {
  position: relative;
  top: 20px;
  display: grid;
  grid-template-columns: repeat(3, minmax(300px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(300px, 3fr));
  gap: 30px;
  justify-content: center;
  align-items: center;
}
.project-slide {
  position: relative;
  z-index: 0;
  /* width: 300px; */
  height: 300px;
  grid-column: 1/2;
  grid-row: 1/2;
  overflow: hidden;
}
.project-slide img {
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.project-link {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffbd39dd;
  opacity: 0;
  transition: 0.5s ease-in-out;
}
.project-slide:hover .project-link,
.project-slide1:hover .project-link,
.project-slide2:hover .project-link,
.project-slide3:hover .project-link,
.project-slide4:hover .project-link,
.project-slide5:hover .project-link {
  opacity: 1;
}
.project-link a {
  text-decoration: none;
  color: white;
  font-size: 1.3em;
}
.project-link p {
  color: #1a1a1a;
  padding-bottom: 10px;
  border-bottom: 2px solid #1a1a1a;
  font-size: 0.925em;
}
.project-slide1 {
  position: relative;
  z-index: 0;
  /* width: 300px; */
  height: 300px;
  grid-column: 2/4;
  grid-row: 1/2;
  overflow: hidden;
}
.project-slide1 img {
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.project-slide2 {
  position: relative;
  z-index: 0;
  /* width: 300px; */
  height: 300px;
  grid-column: 1/3;
  grid-row: 2/3;
  overflow: hidden;
}
.project-slide2 img {
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.project-slide3 {
  position: relative;
  z-index: 0;
  /* width: 300px; */
  height: 300px;
  grid-column: 3/4;
  grid-row: 2/3;
  overflow: hidden;
}
.project-slide3 img {
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.project-slide4 {
  position: relative;
  z-index: 0;
  /* width: 300px; */
  height: 300px;
  grid-column: 1/3;
  grid-row: 3/4;
  overflow: hidden;
}
.project-slide4 img {
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.project-slide5 {
  position: relative;
  z-index: 0;
  /* width: 300px; */
  height: 300px;
  grid-column: 3/4;
  grid-row: 3/4;
  overflow: hidden;
}
.project-slide5 img {
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* For Freelance Component */
.freelance {
  width: 100%;
  height: 700px;
  position: relative;
  top: 1000px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.freelance img {
  position: absolute;
  display: block;
  z-index: 1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.show-freelance {
  position: absolute;
  z-index: 2;
}
.show-freelance h1 {
  font-size: 60px;
}

/* For Contact Component */
.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 1100px;
}
.contact-bg {
  position: absolute;
  left: 0;
  right: 0;
  top: -30px;
  font-size: 120px;
  opacity: 0.1;
  letter-spacing: 10px;
}
.contact-header {
  font-size: 70px;
}
/* .contact-p {
  font-size: 1.25em;
  opacity: 0.5;
} */
.contact-two {
  position: relative;
  top: 50px;
  display: flex;
  gap: 10px;
  justify-content: space-around;
}
.contact-address,
.contact-number,
.email-address,
.twitter {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 10px;
  align-items: center;
  width: 30%;
  height: 300px;
}
.contact-address h3,
.contact-number h3,
.email-address h3,
.twitter h3 {
  color: #ffbd39;
}
.contact-address p,
.contact-number p,
.email-address p,
.twitter p {
  opacity: 0.7;
  height: 50px;
}
.address-icon,
.number-icon,
.email-icon,
.twitter-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #1a1a1a;
}
.address-icon img,
.number-icon img,
.email-icon img,
.twitter-icon img {
  width: 30%;
  height: 30%;
  filter: brightness(0) invert(1);
  transition: filter 0.3s;
}
.contact-three {
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 100px;
  overflow: hidden;
}
.contact-form-image {
  width: 50%;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1a1a1a;
}
.contact-form-image img {
  object-fit: cover;
}
.contact-form {
  width: 50%;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #f8f9fa;
}
.contact-form input {
  width: 80%;
  height: 20px;
  border-radius: 5px;
  padding: 15px;
  margin: 10px 0;
  font-size: 18px;
  outline: none;
  border: 1px solid #ced4da;
}
.contact-form textarea {
  width: 80%;
  border-radius: 5px;
  padding: 15px;
  margin: 10px 0;
  font-size: 18px;
  outline: none;
  border: 1px solid #ced4da;
}
.contact-form input:focus,
.contact-form textarea:focus {
  border: 1px solid black;
}

/*For Footer Component */
.footer {
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 1300px;
}
.footer p {
  opacity: 0.5;
}
.footer-main {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  gap: 10px;
  position: relative;
  width: 100%;
}
.foot {
  width: 30%;
  /* height: 100%; */
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-around;
  align-items: flex-start;
}
.foot h1 {
  font-size: 25px;
}
.foot p {
  width: 50%;
  height: auto;
  text-align: left;
  opacity: 0.5;
}
.foot a {
  text-decoration: none;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  opacity: 0.5;
}
.foot img {
  width: 20px;
  height: 20px;
  margin-right: 20px;
  filter: brightness(0) invert(1);
  transition: filter 0.3s;
}
.footer-socials {
  width: 100%;
  height: 100px;
  display: flex;
  gap: 10px;
  /* justify-content: space-around; */
  align-items: flex-start;
}
.footer-socials a {
  text-decoration: none;
  color: white;
}
.footer-socials img {
  width: 30px;
  height: 30px;
  filter: brightness(0) invert(1);
  transition: filter 0.3s;
}

/*----------------For Mobile Screen---------------*/
@media screen and (max-width: 500px) {
  /*For Navbar Component */
  .navbar {
    width: 100vw;
    position: fixed;
    top: -1px;
    left: 0;
    right: 0;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
    background-color: black;
    overflow: hidden;
  }
  .logo img {
    border-radius: 5px;
  }
  .nav-links {
    display: none;
  }
  .show-nav-links {
    display: block;
    position: relative;
    height: 100vh;
    top: 50px;
    overflow: hidden;
  }
  .nav-links ul,
  .show-nav-links ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: space-around;
  }
  .nav-links ul a,
  .show-nav-links ul a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
  }
  /* .nav-links ul a:hover {
    padding-bottom: 5px;
    border-bottom: 3px solid #ffbd39;
  } */
  .home-link {
    color: #ffbd39;
    padding-bottom: 5px;
    border-bottom: 3px solid #ffbd39;
  }
  .mobile-nav {
    display: block;
  }
  /* For closing Hamburger */
  .close-mobile {
    display: block;
  }
  .close-mobile div {
    width: 50px;
    height: 3px;
    margin: 10px;
    background-color: white;
    position: relative;
    top: 15px;
  }
  .close-mobile div:nth-child(1) {
    transform: rotate(45deg);
  }
  .close-mobile div:nth-child(3) {
    position: relative;
    top: 2px;
    transform: rotate(-45deg);
  }
  .close-mobile div:nth-child(2) {
    display: none;
  }
  .mobile-nav div {
    width: 50px;
    height: 3px;
    margin: 10px;
    background-color: white;
  }

  /*For Hero Section Component */
  .hero {
    width: 100vw;
    position: relative;
    top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  .hero-one,
  .hero-two {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .transition-div {
    opacity: 1;
    transition: opacity 1s ease-in-out;
  }

  .hidden-div {
    opacity: 0;
    pointer-events: none;
  }
  .left-hero,
  .lefty-hero {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 60%;
  }
  .left-hero p,
  .lefty-hero p {
    font-size: 25px;
    letter-spacing: 5px;
    color: #ffbd39;
  }
  .left-hero h1,
  .lefty-hero h1 {
    font-size: 50px;
    letter-spacing: 5px;
    margin: 0;
  }
  .fred {
    color: #ffbd39;
  }
  .left-hero h2,
  .lefty-hero h2 {
    font-size: 25px;
    letter-spacing: 5px;
  }
  .hire-work {
    position: relative;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
  }
  .colored-bg {
    width: 100px;
    text-align: center;
    text-decoration: none;
    color: black;
    background-color: #ffbd39;
    border-radius: 25px;
    letter-spacing: 3px;
    font-size: 17px;
    padding: 15px 25px;
    /* margin: 20px 20px 20px 0; */
    border: none;
  }
  .colored-bg2 {
    width: 100px;
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: black;
    border: 1px solid white;
    border-radius: 25px;
    letter-spacing: 3px;
    font-size: 17px;
    padding: 15px 25px;
    /* margin: 20px 20px 20px 0; */
  }
  .right-hero,
  .righty-hero {
    width: 500px;
    height: auto;
    display: none;
  }

  /* About Component */
  .main-about {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 200px;
    justify-content: center;
    align-items: center;
  }
  .about-one {
    width: 100%;
    position: absolute;
    left: 0;
    display: none;
  }
  .about-two {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .about-bg {
    position: absolute;
    top: -30px;
    font-size: 120px;
    letter-spacing: 2px;
    opacity: 0.1;
  }
  .about-header {
    font-size: 70px;
    position: relative;
    left: 14px;
  }

  .about-table {
    font-size: 1.25em;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  /* For Resume Component */
  .resume {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 300px;
  }
  .resume-bg {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    font-size: 90px;
    opacity: 0.1;
    letter-spacing: 10px;
  }
  .resume-header {
    font-size: 70px;
  }
  .resume-p {
    font-size: 1.25em;
  }
  .resume-two {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    width: 100%;
  }
  .boxOne {
    width: 100%;
    height: 400px;
    margin: 10px;
    padding: 40px;
    border-radius: 10px;
    background-color: #1a1a1a;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .boxOne h1 {
    color: #ffbd39;
    padding: 0;
    margin: 0;
  }
  .boxOne h2 {
    padding: 0;
    margin: 10px 0;
    letter-spacing: 2px;
  }
  .resume-small-p {
    opacity: 0.5;
    font-size: 0.9375em;
  }
  .resume-p {
    opacity: 0.5;
    text-align: left;
  }
  .resume-three {
    margin: 30px 0;
  }

  /* For Skill Component */
  .skills {
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative; */
    top: 400px;
  }
  .padding {
    padding-right: 10%;
    display: none;
  }
  .padding1 {
    padding-right: 15%;
    display: none;
  }
  .padding2 {
    padding-right: 25%;
    display: none;
  }
  .padding3 {
    padding-right: 30%;
    display: none;
  }
  .padding4 {
    padding-right: 20%;
    display: none;
  }
  .padding5 {
    padding-right: 25%;
    display: none;
  }

  /* For Project Component */
  .project {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 500px;
  }
  .project-bg {
    position: absolute;
    left: 0;
    right: 0;
    top: 0px;
    font-size: 80px;
    opacity: 0.1;
    letter-spacing: 10px;
  }
  .project-header {
    font-size: 60px;
  }
  .project-p {
    position: relative;
    top: 10px;
    opacity: 0.5;
    font-size: 1.3em;
  }
  .project-two {
    position: relative;
    top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    align-items: center;
  }
  .project-slide {
    position: relative;
    z-index: 0;
    width: 100%;
    height: 300px;
    overflow: hidden;
  }
  .project-slide img {
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .project-link {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffbd39dd;
    opacity: 0;
    transition: 0.5s ease-in-out;
  }
  .project-slide:hover .project-link,
  .project-slide1:hover .project-link,
  .project-slide2:hover .project-link,
  .project-slide3:hover .project-link,
  .project-slide4:hover .project-link,
  .project-slide5:hover .project-link {
    opacity: 1;
  }
  .project-link a {
    text-decoration: none;
    color: white;
    font-size: 1.3em;
  }
  .project-link p {
    color: #1a1a1a;
    padding-bottom: 10px;
    border-bottom: 2px solid #1a1a1a;
    font-size: 0.925em;
  }
  .project-slide1 {
    position: relative;
    z-index: 0;
    width: 100%;
    height: 300px;
    overflow: hidden;
  }
  .project-slide1 img {
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .project-slide2 {
    position: relative;
    z-index: 0;
    width: 100%;
    height: 300px;
    overflow: hidden;
  }
  .project-slide2 img {
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .project-slide3 {
    position: relative;
    z-index: 0;
    width: 100%;
    height: 300px;
    overflow: hidden;
  }
  .project-slide3 img {
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .project-slide4 {
    position: relative;
    z-index: 0;
    width: 100%;
    height: 300px;
    overflow: hidden;
  }
  .project-slide4 img {
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .project-slide5 {
    position: relative;
    z-index: 0;
    width: 100%;
    height: 300px;
    overflow: hidden;
  }
  .project-slide5 img {
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  /* For Freelance Component */
  .freelance {
    width: 100%;
    height: 400px;
    position: relative;
    top: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .freelance img {
    position: absolute;
    display: block;
    z-index: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .show-freelance {
    position: absolute;
    z-index: 2;
  }
  .show-freelance h1 {
    font-size: 40px;
  }

  /* For Contact Component */
  .contact {
    top: 850px;
  }
  .contact-bg {
    position: absolute;
    left: 0;
    right: 0;
    top: -30px;
    font-size: 90px;
    opacity: 0.1;
    letter-spacing: 10px;
  }
  .contact-header {
    font-size: 50px;
  }
  /* .contact-p {
  font-size: 1.25em;
  opacity: 0.5;
} */
  .contact-two {
    position: relative;
    top: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-around;
  }
  .contact-address,
  .contact-number,
  .email-address,
  .twitter {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 10px;
    align-items: center;
    width: 40%;
    height: 300px;
  }
  .contact-address h3,
  .contact-number h3,
  .email-address h3,
  .twitter h3 {
    color: #ffbd39;
  }
  .contact-address p,
  .contact-number p,
  .email-address p,
  .twitter p {
    opacity: 0.7;
    height: 50px;
  }
  .address-icon,
  .number-icon,
  .email-icon,
  .twitter-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #1a1a1a;
  }
  .address-icon img,
  .number-icon img,
  .email-icon img,
  .twitter-icon img {
    width: 30%;
    height: 30%;
    filter: brightness(0) invert(1);
    transition: filter 0.3s;
  }
  /* .contact-three {
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 100px;
    overflow: hidden;
  } */
  .contact-form-image {
    display: none;
    /* width: 50%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1a1a1a; */
  }
  .contact-form-image img {
    object-fit: cover;
  }
  .contact-form {
    width: 100%;
    /* height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #f8f9fa; */
  }
  .contact-form button {
    text-align: center;
    font-size: 12px;
  }
  /*For Footer Component */
  .footer {
    height: auto;
    top: 1000px;
  }
  .footer-main {
    display: none;
  }
  .foot {
    width: 30%;
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-around;
    align-items: flex-start;
  }
  .foot h1 {
    font-size: 25px;
  }
  .foot p {
    width: 50%;
    height: auto;
    text-align: left;
    opacity: 0.5;
  }
  .foot a {
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    opacity: 0.5;
  }
  .foot img {
    width: 20px;
    height: 20px;
    margin-right: 20px;
    filter: brightness(0) invert(1);
    transition: filter 0.3s;
  }
  .footer-socials {
    width: 100%;
    height: 100px;
    display: flex;
    gap: 10px;
    /* justify-content: space-around; */
    align-items: flex-start;
  }
  .footer-socials a {
    text-decoration: none;
    color: white;
  }
  .footer-socials img {
    width: 30px;
    height: 30px;
    filter: brightness(0) invert(1);
    transition: filter 0.3s;
  }
}
